# SWAGGER set-up 
# ==================================================================================================================================
# This part is only for Swagger set-up
# If you don't want to use swagger, just ignore these options and just fill in 'ENABLE-SWAGGER-ON' to 'SWAGGER'
# The option 'ENABLE-SWAGGER-ON' has two of attributes: 1. 'SWAGGER', 2. 'DEVELOPMENT', which refers to the option 'APP-MODE'.
#  ㄴ APP-MODE ㅡ located in 'Application set-up' section ㅡ has three of attributes: 1. 'SWAGGER', 2. 'DEVELOPMENT', 3. 'PUBLIC'.
# ==================================================================================================================================
SWAGGER-TITLE=
SWAGGER-DESCRIPTION=
ENABLE-SWAGGER-ON=SWAGGER


# Application set-up
# ==================================================================================================================================
# This part is for the effective settings of the application.
# ==================================================================================================================================
APP-VERSION=0.0.1
APP-MODE=
APP-PORT=8173

# CORS-ORIGIN options are must written with the form of <string>, <string> ..
# ==================================================================================================================================
# Example: https://one.com, https://two.org
# ==================================================================================================================================
CORS-ORIGIN=http://127.0.0.1:8173, http://localhost:8173

# Body-data Encryption
# ==================================================================================================================================
# If you need this feature, enable `BODY-DATA-ENCRYPTION` here.
# If you enable this, you need to send encrypted data, which has been well documented in `github docs`, to server.
# ==================================================================================================================================
BODY-DATA-ENCRYPTION=false

# Cache & DataBase configuration
# ==================================================================================================================================
# Our Service uses Redis & MongoDB.
# ==================================================================================================================================
REDIS-HOST=
REDIS-PORT=

MONGODB-URL=
